name: Publish Packages to npmjs.com

on:
  push:
    branches: [main, release]
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    name: Publish Packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build and Publish fleet-shared
        run: |
          cd packages/fleet-shared
          bun run build
          bun publish --access public --ignore-scripts

      - name: Build and Publish fleet-cli
        run: |
          cd packages/fleet-cli
          bun run build
          bun publish --access public --ignore-scripts
